/* Root >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
* {
  margin: 0;
  padding: 0;
}

body {
  /* Setting default text color, background and a font stack */
  font-size: 12px;
  color: #666;
  /* A webkit gradient: */
  /*background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#DDD));*/
  text-shadow: 1px 1px 0 white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/* Root <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Login >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Blinking Animation*/
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

#login {
  display: none;
  width: 240px;
  height: 170px;
  text-align: center;
  padding: 10px;
}

#login .logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../images/TimeDoctor.png) center no-repeat;
  background-size: 50px;
}

.login_text {
  font-size: 13px;
}

.login_info {
  font-size: 16px;
  font-weight: bold;
}

#login input {
  margin-top: 10px;
  width: 190px;
  height: 16px;
  padding: 5px;
  background: #F8F8F8;
  border: 1px solid #DDD;
}

/* Class for attaching blinking animation */
.blinking_input {
  border: 1px solid #F00;
  animation: blinker 300ms linear 3;
}

.btn_login {
  display: block;
  margin: 10px auto;
  background: #71da47;
  padding: 10px;
  color: #FFF;
  width: 80px;
  height: 34px;
  line-height: 8px;
  font-size: 14px;
  border: none;
}

.btn_login:hover {
  background: #50bb26;
  font-weight: bold;
}
/* Login <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Logged Window >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#logged_window {
  display: none;
  width: 220px;
  padding: 4px;
}

#logged_window .header {
  height: 38px;
  margin-bottom: 8px;
}

#logged_window .logo {
  float: left;
  width: 38px;
  height: 38px;
  background: url(../images/TimeDoctor.png) no-repeat center;
  background-size: 38px;
}

.fa {
  float: right;
  margin: 10px 0 0 12px;
  cursor: pointer;
}

.fa:hover {
  color: #000;
  transform: scale(1.2);
}

.website {
  text-align: right;
  cursor: pointer;
}

.website:hover {
  color:#000;
  text-decoration: underline;
}
/* Logged Window <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Dashboard >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#dashboard {
  margin: 5px 0;
}

.job_buttons {
  display: flex;
  justify-content: center;
}

.btn_job {
  padding: 8px 0;
  color: #333;
  background: #f3fff3;
  display: inline;
  text-align: center;
  width: 104px;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  cursor: pointer;
}

.btn_job:hover {
  background: #DDD;
}

.recent_title {
  margin: 10px 0 5px;
  text-align: center;
  border-bottom: 1px solid #DDD;
  padding-bottom: 8px;
}

.logs {
  padding: 5px 10px;
}

.time {
  display: inline;
  float: right;
}
/* Dashboard <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */